*{
    margin: 0%;
    padding-left: 0%;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, rgb(182, 79, 79) , rgb(199, 199, 147));

}
.heading-text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.main-container{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    flex-wrap: wrap;
}
.main-container>div{
    flex-basis: 25%;
}
.box-div{
    margin-top: 20px;
    margin-left: 10px;
}
.box1{
    border: 1px solid black;
    border-radius: 28px;
    padding: 5rem;
    font-weight: bolder;
}